/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Hepta+Slab&family=Hubballi&family=Jaldi&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EDFBFF;
}

/* Início do header */
.menu-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #062E38;
    margin: 0 15px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
}

.logo {
    height: 25px;
   
}

header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #FAFEFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/*hover no header */
.menu-header a:hover{
  color: #fdbb02;
  transition: 0.5s;
}


/* Box de 940px para limitar o header */
.box-header {
    height: 50px;
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
/* Fim do header */

/* início do footer */
.menu-footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
  }
  
  .logo-footer {
    height: 40px;
  }
  
  footer{
    height: 70px;
    width: 100%;
    background-color: #118CAB;
    display: flex;
  }
  
  .box-footer{
    height: 70px;
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  /*hover no footer */
.menu-footer a:hover{
  color: #fdbb02;
  transition: 0.5s;
}
  
  /* fim do footer */