body{
  /* background-color: #f5fcfd; */
  background: linear-gradient(180deg, rgba(17,140,171,1) 0%, #73d5ed 44%, rgba(245,252,253,1) 100%);
}

#top-contato{
  height: 50px;
}

/* main */
main{ 
  display: flex;
  justify-content: center;
  gap: 10px;
}

.section-form {
  display: flex;
  justify-content: center;
}

form-ofertas{
  display: none;
}

/* Estilizando titulo contato */
.contato-titulo {
  font-family: 'Hubballi', cursive;
  text-transform: uppercase;
  font-size: 2.4em;
  margin: 40px auto;
  text-align: center;
  transition: 0.5s all;
  color: #118CAB;
}
.contato-titulo:hover{
  transform: scale(1.02);
}
/* fim da esilização do titulo contato*/


/* estilização form */
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 3em;
  box-shadow: 5px 5px 5px 5px #0000001c;
  padding: 2rem 5rem 2rem 5rem;
  background-color: #EDFBFF;
}

/* Estilizando grupo de input */
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: 'Hepta Slab', serif;
  font-size: 0.9em;
}
.input-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  border: none;
}
.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  box-shadow: 2px 2px 10px 1px #0000001c;
  border: 1px solid #00000000;
}
 .input-box input:focus {
  outline: 0;
} 
.input-box input:focus-visible {
  border: 1px solid #febb02;
}
.input-mensagem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}
.input-mensagem textarea{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  outline: none;
  resize: none;
  border: none;
  box-shadow: 2px 2px 10px 1px #0000001c;
  border: 1px solid #00000000;
}
.input-mensagem textarea:focus {
  outline: 0;
}
.input-mensagem textarea:focus-visible {
  border: 1px solid #febb02;
}
/* Fim estilização do gupo de input */

/* fim estilização form */


/* estilização checked */
.checked-area {
  font-family: 'Hepta Slab', serif;
}
.checked-titulo{
  font-size: 1em;
  margin: 20px 0 20px 0;
}
.checked-grupo {
  margin-top: 0.9rem;
  padding: 0 0.5rem;
}

.inChecked {
  display: flex;
  align-items: center;
  margin: 0.6rem 0 0.9rem 0;
  font-size: 0.9rem;
}

.inChecked input {
  margin-right: 0.4rem;
}

/* fim estilização checked */



/* botão */

.bt-enviar{
  margin: 10px auto;
  width: 250px;
  height: 35px;
  color: #fff;
  background-color: #febb02;
  border: none;
  color: #096075;
  text-transform: uppercase;
  font-weight: bold;
}

.bt-enviar:hover {
  background-color: #118CAB;
  transition: 0.2s;
}

/* fim do botão */

/* Ofertas */

.receberOfertas {
  font-size: 1.15em;
  margin-top: 20px;
  margin-bottom: 20px;
}
#receberOfertas {
  margin-top: 20px;
  margin-bottom: 20px;
}

.preferencia-contato{
  margin-bottom: 20px;
}
.selecionar-ofertas {
  margin: 5px 0 10px 0;
  font-size: 0.9rem ;
}
.cidade-estado-ofertas{
  margin: 0 0 15px 10px;
}

.selecao-cidade-estado select{
  font-family: 'Hepta Slab', serif;
  height: 30px;
  width: 80%;
  border: 1px solid #00000000;
  padding: 5px 10px;
  box-shadow: 2px 2px 10px 1px #0000001c;
}
.selecao-cidade-estado  select:focus {
  outline: 0;
  border: 1px solid #febb02;
} 
.selecao-cidade-estado input {
  font-family: 'Hepta Slab', serif;
  width: 75.2%;
  border: 1px solid #00000000;
  padding: 5px 10px;
  box-shadow: 2px 2px 10px 1px #0000001c;
}
.selecao-cidade-estado input:focus {
  outline: 0;
  border: 1px solid #febb02;
}
.selecao-cidade-estado p {
  margin-left: 10px;
}

.bt-ofertas {
  margin: 10px auto;
  width: 250px;
  height: 35px;
  color: #fff;
  background-color: #febb02;
  border: none;
  color: #096075;
  text-transform: uppercase;
  font-weight: bold;
}

.bt-ofertas:hover {
  background-color: #118CAB;
  transition: 0.2s;
}




/* fim da ofertas */

/* fim do main */

.desaparecendo{
  display: none;
}

.aparecendo{
  display: block;
}

