@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&family=Jaldi&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f5fcfd;
}

/* Header */
.menu-header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #062E38;
    margin: 0 15px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
  }
  
  .logo {
    height: 25px;
   
  }
  
  header{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #FAFEFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .box-header {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }
  /* fim do header */
  
  #top-pesquisa{
    height: 50px;
  }

.filtros{
    width: 940px;
    margin: 0 auto;
    font-family: 'Hepta Slab', serif;
    display: flex;
}

.filtro{
    background-color: #d6f4fc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border-radius: 10px; */
    padding: 30px;
    margin: 30px 0;
    box-sizing: border-box;
}

.filtro h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.icon-filtro{
    height: 32px;
}

.filtro-areaConstruida{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filtro-areaConstruida label{
    width: 50%;
    margin: 10px 0;
}

.filtro-areaConstruida input{
    border: solid 1px #D2D2D2;
    /* border-radius: 5px; */
    height: 20px;
    padding: 2px 10px;
    font-family: 'Hepta Slab', serif;
}

.filtro-esquerda{
    width: 60%;
}
.filtro-direita {
    width: 37%;
    margin-left: 3%;
}

.filtro-tipoImovel{
    height: 200px;
    width: 100%;    
}

.filtro-opcoes{
    display: flex;
    margin-top: 20px;
}

.opcoes-dupla{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 30px;
}

.filtro-bairro{  
    height: 120px;
    width: 100%;
}

.filtro-bairro select{
    border: solid 1px #D2D2D2;
    /* border-radius: 5px; */
    height: 30px;
    width: 80%;
    padding: 5px 10px;
    font-family: 'Hepta Slab', serif;
}

.filtro-cidade{
    height: 120px;
    width: 100%;
}

.filtro-cidade input{
    border: solid 1px #D2D2D2;
    /* border-radius: 5px; */
    height: 30px;
    width: 60%;
    padding: 5px 10px;
    font-family: 'Hepta Slab', serif;
}

.botoes{
    margin: 10px auto 100px auto;
    width: 700px;
    text-align: center;
}

.bt{
    margin: 0 5px;
    width: 250px;
    height: 35px;
    color: #fff;
    background-color: #00ACD7;
    border: none;
    /* border-radius: 5px; */
    text-transform: uppercase;
    font-weight: bold;
}

.bt:hover{
    background-color: #2d849c;
    cursor: pointer;
}

.qtdImoveis{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.texto-informacoes{
    font-family: 'Hepta Slab', serif;
    color: #036d88;
    font-size: 1.1em;
}

.imoveis{
    width: 940px;
    margin: 0 auto;
}


.imovel{
    font-family: 'Hepta Slab', serif;
    padding: 10px;

    display: flex;
    align-items: center;

    /* border-radius: 10px; */
    border: solid 2px #00ACD7;
    width: 100%;

    margin: 10px 0;

    transition: 0.2s all;

    background-color: #fff;
}

.imovel:hover{
    transform: translateX(10px);
    border: 2px solid #036d88;
    cursor: pointer;
}

.informacoes-imovel{
    margin-left: 20px;
}

.tipo-imovel{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.tipo-detalhes{
    margin: 15px 0;
    font-size: 0.8em;
}

.img-imovel{
    height: 150px;
    /* border-radius: 10px; */
    transition: 0.2s all;
}

/* .limpa-filtros{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 48px;
    transition: 0.2s all;
}

.limpa-filtros:hover{
    cursor: pointer;
    transform: scale(1.2) rotate(-10deg);
}

  .ajuda{
    display: none;
    color: #fff;
    background-color: #00ACD7;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    position: fixed;
    bottom: 60px;
    right: 60px;
  }

  .limpa-filtros:hover ~ .ajuda{
    display: block;
  } */

  /* início do footer */
.menu-footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
  }
  
  .logo-footer {
    height: 40px;
  }
  
  footer{
    height: 70px;
    width: 100%;
    background-color: #118CAB;
    display: flex;
    margin-top: 100px;
  }
  .box-footer{
    height: 70px;
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  /* fim do footer */