body{
    background: linear-gradient(180deg, rgba(17,140,171,1) 0%, rgba(115,213,237,1) 44%, rgba(200,244,255,1) 100%);
}
  
/* Div atras do header */
  #top-pesquisa{
    height: 50px;
  }

/* Caixa de 940px que limita os filtros */
.filtros{
    width: 940px;
    margin: 0 auto;
    font-family: 'Hepta Slab', serif;
    display: flex;
}

/* Cada caixa de filtro */
.filtro{
    background-color: #EDFBFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    /* border-radius: 10px; */
    padding: 30px;
    margin: 30px 0;
    box-sizing: border-box;
}

/* titulo dos filtros */
.filtro h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* icone dos tipos */
.icon-filtro{
    height: 32px;
}

.filtro-areaConstruida{
    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.filtro-areaConstruida label{
    margin: 10px 0 5px 0;
    font-size: 0.8em;
}

.filtro-areaConstruida input{
    font-family: 'Hepta Slab', serif;
    height: 20px;
    width: 70%;
    padding: 2px 10px;
    border: 1px solid #00000000; /* Borda invisível*/
    box-shadow: 2px 2px 10px 1px #0000001c;
}

.filtro-areaConstruida  input:focus {
    outline: 0;
    border: 1px solid #febb02;
} 

.filtro-esquerda{
    width: 60%;
}

.filtro-direita {
    width: 40%;
}

.filtro-tipoImovel{
    height: 200px;
    width: 100%;    
}

.filtro-tipoImovel input:checked{
    background-color: #febb02;
}

/* Tipos dos imóveis */
.filtro-opcoes{
    display: flex;
    margin-top: 20px;
}

/* Dupla de tipos */
.opcoes-dupla{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    gap: 30px;
}

.filtro-bairro{  
    height: 120px;
    width: 100%;
}

.filtro-bairro select{
    font-family: 'Hepta Slab', serif;
    height: 30px;
    width: 80%;
    border: 1px solid #00000000;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px 1px #0000001c;
}
.filtro-bairro  select:focus {
    outline: 0;
    border: 1px solid #febb02;
} 

.filtro-cidade{
    height: 120px;
    width: 100%;
}

.filtro-cidade input{
    font-family: 'Hepta Slab', serif;
    height: 30px;
    width: 60%;
    border: 1px solid #00000000;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px 1px #0000001c;
}

.filtro-cidade input:focus{
    outline: 0;
    border: 1px solid #febb02;
}

.botoes{
    margin: 10px auto 100px auto;
    width: 700px;
    text-align: center;
}

.bt{
    margin: 0 5px;
    width: 250px;
    height: 35px;
    background-color: #febb02;
    color: #096075;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.bt:hover{    
    transition: 0.2s all;
    background-color: #83e6ff;
    box-shadow: 2px 2px 10px 1px #0000001c;
    cursor: pointer;
}

.qtdImoveis{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.texto-informacoes{
    font-family: 'Hepta Slab', serif;
    color: #fff;
    font-size: 1.1em;
}

.imoveis{
    width: 940px;
    margin: 0 auto;
}


.imovel{
    font-family: 'Hepta Slab', serif;
    padding: 10px;

    display: flex;
    align-items: center;

    width: 100%;

    margin: 10px 0;

    transition: 0.2s all;
    
    background-color: #EDFBFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.imovel:hover{
    transform: translateX(10px);
    cursor: pointer;
}

.informacoes-imovel{
    margin-left: 20px;
}

.tipo-imovel{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.tipo-detalhes{
    margin: 15px 0;
    font-size: 0.8em;
}

.img-imovel{
    height: 150px;
    /* border-radius: 10px; */
    transition: 0.2s all;
}

footer{
    margin-top: 250px;
}